body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 0;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #9cafb7;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}


main {
  text-align: center;
}

p {
  margin-bottom: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}